<div class="row">
	<div class="col-lg-6 offset-lg-3">
		<div class="card" style="width: 28rem;">
			<div class="card-header custom-card">
				<h3 class="card-title">Cambiar la contraseña</h3>
			</div>
			<div class="text-center">
				<app-loading *ngIf="loading"></app-loading>
			</div>
			<form [formGroup]="cambiarPasswordF" (ngSubmit)="guardarPassword()">
				<div class="card-body">
					<div class="form-group">
						<input type="password" class="form-control"  placeholder="Contrseña Anterior" formControlName="passwordAnterior">
						<span class="text-danger ml-2" *ngIf="cambiarPasswordF.get('passwordAnterior')!.hasError('required') && cambiarPasswordF.get('passwordAnterior')!.touched">
							La contraseña <strong>es requerida</strong>
						</span>
					</div>
					<div class="form-group">
						<input type="password" class="form-control"  placeholder="Nueva contraseña" formControlName="passwordNuevo">
						<span class="text-danger ml-2" *ngIf="cambiarPasswordF.get('passwordNuevo')!.hasError('required') && cambiarPasswordF.get('passwordNuevo')!.touched">
							La nueva contraseña <strong>es requerida</strong>
						</span>
						<span class="text-danger ml-2" *ngIf="cambiarPasswordF.get('passwordNuevo')!.hasError('minlength') && cambiarPasswordF.get('passwordNuevo')!.touched">
							La contraseña <strong>debe tener 4 caracteres</strong>
						</span>
					</div>
					<div class="form-group">
						<input type="password" class="form-control"  placeholder="Confirme la contraseña" formControlName="confirmarPassword">
						<span class="text-danger ml-2" *ngIf="cambiarPasswordF!.hasError('notSame')">
							Las contraseñas <strong>son distintas</strong>
						</span>
					</div>
				</div>
				<!-- /.card-body -->

				<div class="card-footer">
					<button type="submit" class="btn btn-success" [ngStyle]="{'background-color': '#08C330'}" [disabled]="cambiarPasswordF.invalid">Cambiar</button>
				</div>
			</form>
		</div>	
	</div>
</div>
